<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Prueba de Evaluacion</title>
</head>
    
<body>
    <h1>Hinchas del Arsenal</h1>
    <button id="Btn_Buscar" class="boton-elegante">Ver Hincha</button>


    <div class="contenedor-form">
        <img id="Imagen" src="">
        <p id="Descripcion"></p>
        <h4 id="Genero"></h4>
                <h4 id="Telefono"></h4>
                <h4 id="Email"></h4>

        <img id="Mascota" src="">


      

    </div>

    <script src="/js/index.js"></script>
</body>

</html>
