<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/index.css">
    <title>Prueba de Evaluacion</title>
</head>
<body>
    <h1>Bienvenido</h1>
    

    <div class="contenedor-form">
        <h4>Ingrese el nombre de su pokemon</h4>
        <input id="Inp_Nombre" class="input" placeholder="Ingrese el nombre del pokemon">

        <h4>Seleccione la generación de su pokemon</h4>
        <select id="Select_Generacion">
            <option value="Seleccione">Seleccione</option>
            <option value="1">Generación 1</option>
            <option value="2">Generación 2</option>
            <option value="3">Generación 3</option>
        </select>

        <button id="Btn_Buscar" class="boton-elegante">Buscar</button>
    </div>

    <script src="/js/index.js"></script>
</body>

</html>